<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Nepxion-Net-Demo</display-name>
  <servlet>
    <servlet-name>ApacheServerInvoker</servlet-name>
    <servlet-class>com.nepxion.net.http.apache.ApacheServerInvoker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApacheServerInvoker</servlet-name>
    <url-pattern>/ApacheServerInvoker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApacheServlet</servlet-name>
    <servlet-class>com.nepxion.net.http.apache.ApacheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApacheServlet</servlet-name>
    <url-pattern>/ApacheServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FacilityServerInvoker</servlet-name>
    <servlet-class>com.nepxion.net.http.facility.FacilityServerInvoker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacilityServerInvoker</servlet-name>
    <url-pattern>/FacilityServerInvoker</url-pattern>
  </servlet-mapping>
</web-app>