<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Nepxion-Net-Demo</display-name>
  <servlet>
    <servlet-name>SerializableServerInvoker</servlet-name>
    <servlet-class>com.nepxion.net.http.apache.server.SerializableServerInvoker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerializableServerInvoker</servlet-name>
    <url-pattern>/SerializableServerInvoker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StringServerInvoker</servlet-name>
    <servlet-class>com.nepxion.net.http.apache.server.StringServerInvoker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StringServerInvoker</servlet-name>
    <url-pattern>/StringServerInvoker</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>ParameterServerInvoker</servlet-name>
    <servlet-class>com.nepxion.net.http.apache.server.ParameterServerInvoker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParameterServerInvoker</servlet-name>
    <url-pattern>/ParameterServerInvoker</url-pattern>
  </servlet-mapping>
</web-app>